Updating the numbers from this story: 

https://highline.huffingtonpost.com/articles/en/poor-millennials/

BOOMER -- 306

MILLENNIAL -- 4459

Hours of minimum wage work needed to pay for four years of public college
Source: National Center for Education Statistics. Calculations based on tuition for four-year public universities from 1973-1976 and 2003-2006.

Note: the most up-to-date tables don't break down colleges vs universities, and there doesn't seem to be any good reason to distinguish between the two in this context, so we will be using all 4-year public institutions with current dollars.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("4_year_public_tuition.csv")
data.head()

   starting_year  tuition_and_fees
0           1963        243.335845
1           1964        255.770493
2           1965        277.922464
3           1966        302.362429
4           1967        310.074436

In [3]:
data_months = data.loc[data.index.repeat(12)].reset_index()
data_months["old_index"] = data_months["index"]
data_months = data_months[["starting_year","tuition_and_fees","old_index"]]
data_months.head()

   starting_year  tuition_and_fees  old_index
0           1963        243.335845          0
1           1963        243.335845          0
2           1963        243.335845          0
3           1963        243.335845          0
4           1963        243.335845          0

In [4]:

data_months["month_count"] = data_months.index%12+1
data_months.head()

   starting_year  tuition_and_fees  old_index  month_count
0           1963        243.335845          0            1
1           1963        243.335845          0            2
2           1963        243.335845          0            3
3           1963        243.335845          0            4
4           1963        243.335845          0            5

In [5]:
data_months["tuition_monthly"] = data_months["tuition_and_fees"]/12
data_months["true_month"] = data_months["month_count"].shift(-5)
data_months["true_year"] = data_months["starting_year"].shift(-5)
data_months.dropna(axis=0, subset=["true_month", "true_year"], inplace=True)
data_months["month_year"] = data_months["true_month"].astype(int).astype(str) + "_" + data_months["true_year"].astype(int).astype(str)
data_months

,starting_year,tuition_and_fees,old_index,month_count,tuition_monthly,true_month,true_year,month_year
0,1963,243.335845,0,1,20.277987,6.0,1963.0,6_1963
1,1963,243.335845,0,2,20.277987,7.0,1963.0,7_1963
2,1963,243.335845,0,3,20.277987,8.0,1963.0,8_1963
3,1963,243.335845,0,4,20.277987,9.0,1963.0,9_1963
4,1963,243.335845,0,5,20.277987,10.0,1963.0,10_1963
5,1963,243.335845,0,6,20.277987,11.0,1963.0,11_1963
6,1963,243.335845,0,7,20.277987,12.0,1963.0,12_1963
7,1963,243.335845,0,8,20.277987,1.0,1964.0,1_1964
8,1963,243.335845,0,9,20.277987,2.0,1964.0,2_1964
9,1963,243.335845,0,10,20.277987,3.0,1964.0,3_1964
10,1963,243.335845,0,11,20.277987,4.0,1964.0,4_1964
11,1963,243.335845,0,12,20.277987,5.0,1964.0,5_1964
12,1964,255.770493,1,1,21.314208,6.0,1964.0,6_1964
13,1964,255.770493,1,2,21.314208,7.0,1964.0,7_1964
14,1964,255.770493,1,3,21.314208,8.0,1964.0,8_1964
15,1964,255.770493,1,4,21.314208,9.0,1964.0,9_1964
16,1964,255.770493,1,5,21.314208,10.0,1964.0,10_1964
17,1964,255.770493,1,6,21.314208,11.0,1964.0,11_1964
18,1964,255.770493,1,7,21.314208,12.0,1964.0,12_1964
19,1964,255.770493,1,8,21.314208,1.0,1965.0,1_1965
20,1964,255.770493,1,9,21.314208,2.0,1965.0,2_1965
21,1964,255.770493,1,10,21.314208,3.0,1965.0,3_1965
22,1964,255.770493,1,11,21.314208,4.0,1965.0,4_1965
23,1964,255.770493,1,12,21.314208,5.0,1965.0,5_1965
24,1965,277.922464,2,1,23.160205,6.0,1965.0,6_1965
25,1965,277.922464,2,2,23.160205,7.0,1965.0,7_1965
26,1965,277.922464,2,3,23.160205,8.0,1965.0,8_1965
27,1965,277.922464,2,4,23.160205,9.0,1965.0,9_1965
28,1965,277.922464,2,5,23.160205,10.0,1965.0,10_1965
29,1965,277.922464,2,6,23.160205,11.0,1965.0,11_1965
...,...,...,...,...,...,...,...,...
601,2013,8311.861658,50,2,692.655138,7.0,2013.0,7_2013
602,2013,8311.861658,50,3,692.655138,8.0,2013.0,8_2013
603,2013,8311.861658,50,4,692.655138,9.0,2013.0,9_2013
604,2013,8311.861658,50,5,692.655138,10.0,2013.0,10_2013
605,2013,8311.861658,50,6,692.655138,11.0,2013.0,11_2013
606,2013,8311.861658,50,7,692.655138,12.0,2013.0,12_2013
607,2013,8311.861658,50,8,692.655138,1.0,2014.0,1_2014
608,2013,8311.861658,50,9,692.655138,2.0,2014.0,2_2014
609,2013,8311.861658,50,10,692.655138,3.0,2014.0,3_2014
610,2013,8311.861658,50,11,692.655138,4.0,2014.0,4_2014
611,2013,8311.861658,50,12,692.655138,5.0,2014.0,5_2014
612,2014,8543.332523,51,1,711.944377,6.0,2014.0,6_2014
613,2014,8543.332523,51,2,711.944377,7.0,2014.0,7_2014
614,2014,8543.332523,51,3,711.944377,8.0,2014.0,8_2014
615,2014,8543.332523,51,4,711.944377,9.0,2014.0,9_2014
616,2014,8543.332523,51,5,711.944377,10.0,2014.0,10_2014
617,2014,8543.332523,51,6,711.944377,11.0,2014.0,11_2014
618,2014,8543.332523,51,7,711.944377,12.0,2014.0,12_2014
619,2014,8543.332523,51,8,711.944377,1.0,2015.0,1_2015
620,2014,8543.332523,51,9,711.944377,2.0,2015.0,2_2015
621,2014,8543.332523,51,10,711.944377,3.0,2015.0,3_2015
622,2014,8543.332523,51,11,711.944377,4.0,2015.0,4_2015
623,2014,8543.332523,51,12,711.944377,5.0,2015.0,5_2015
624,2015,8777.845830,52,1,731.487152,6.0,2015.0,6_2015
625,2015,8777.845830,52,2,731.487152,7.0,2015.0,7_2015
626,2015,8777.845830,52,3,731.487152,8.0,2015.0,8_2015
627,2015,8777.845830,52,4,731.487152,9.0,2015.0,9_2015
628,2015,8777.845830,52,5,731.487152,10.0,2015.0,10_2015
629,2015,8777.845830,52,6,731.487152,11.0,2015.0,11_2015
630,2015,8777.845830,52,7,731.487152,12.0,2015.0,12_2015

In [6]:
minimum_data = pd.read_csv("FEDMINNFRWG.csv")
minimum_data.head()

      DATE  FEDMINNFRWG month_year
0  10/1/38         0.25    10_1938
1  11/1/38         0.25    11_1938
2  12/1/38         0.25    12_1938
3   1/1/39         0.25     1_1939
4   2/1/39         0.25     2_1939

In [7]:
data_months_combined = pd.merge(data_months, minimum_data, how="left", on="month_year")
data_months_combined.head()

,starting_year,tuition_and_fees,old_index,month_count,tuition_monthly,true_month,true_year,month_year,DATE,FEDMINNFRWG
0,1963,243.335845,0,1,20.277987,6.0,1963.0,6_1963,6/1/63,1.15
1,1963,243.335845,0,2,20.277987,7.0,1963.0,7_1963,7/1/63,1.15
2,1963,243.335845,0,3,20.277987,8.0,1963.0,8_1963,8/1/63,1.15
3,1963,243.335845,0,4,20.277987,9.0,1963.0,9_1963,9/1/63,1.25
4,1963,243.335845,0,5,20.277987,10.0,1963.0,10_1963,10/1/63,1.25

In [8]:
data_months_combined["monthly_hours"] = data_months_combined["tuition_monthly"]/data_months_combined["FEDMINNFRWG"]
data_months_combined.head()

,starting_year,tuition_and_fees,old_index,month_count,tuition_monthly,true_month,true_year,month_year,DATE,FEDMINNFRWG,monthly_hours
0,1963,243.335845,0,1,20.277987,6.0,1963.0,6_1963,6/1/63,1.15,17.633032
1,1963,243.335845,0,2,20.277987,7.0,1963.0,7_1963,7/1/63,1.15,17.633032
2,1963,243.335845,0,3,20.277987,8.0,1963.0,8_1963,8/1/63,1.15,17.633032
3,1963,243.335845,0,4,20.277987,9.0,1963.0,9_1963,9/1/63,1.25,16.222390
4,1963,243.335845,0,5,20.277987,10.0,1963.0,10_1963,10/1/63,1.25,16.222390

In [9]:
data_months_combined["hours_in_last_48_months"] = data_months_combined["monthly_hours"].rolling(48, min_periods=48).sum()
data_months_combined

,starting_year,tuition_and_fees,old_index,month_count,tuition_monthly,true_month,true_year,month_year,DATE,FEDMINNFRWG,monthly_hours,hours_in_last_48_months
0,1963,243.335845,0,1,20.277987,6.0,1963.0,6_1963,6/1/63,1.15,17.633032,NaN
1,1963,243.335845,0,2,20.277987,7.0,1963.0,7_1963,7/1/63,1.15,17.633032,NaN
2,1963,243.335845,0,3,20.277987,8.0,1963.0,8_1963,8/1/63,1.15,17.633032,NaN
3,1963,243.335845,0,4,20.277987,9.0,1963.0,9_1963,9/1/63,1.25,16.222390,NaN
4,1963,243.335845,0,5,20.277987,10.0,1963.0,10_1963,10/1/63,1.25,16.222390,NaN
5,1963,243.335845,0,6,20.277987,11.0,1963.0,11_1963,11/1/63,1.25,16.222390,NaN
6,1963,243.335845,0,7,20.277987,12.0,1963.0,12_1963,12/1/63,1.25,16.222390,NaN
7,1963,243.335845,0,8,20.277987,1.0,1964.0,1_1964,1/1/64,1.25,16.222390,NaN
8,1963,243.335845,0,9,20.277987,2.0,1964.0,2_1964,2/1/64,1.25,16.222390,NaN
9,1963,243.335845,0,10,20.277987,3.0,1964.0,3_1964,3/1/64,1.25,16.222390,NaN
10,1963,243.335845,0,11,20.277987,4.0,1964.0,4_1964,4/1/64,1.25,16.222390,NaN
11,1963,243.335845,0,12,20.277987,5.0,1964.0,5_1964,5/1/64,1.25,16.222390,NaN
12,1964,255.770493,1,1,21.314208,6.0,1964.0,6_1964,6/1/64,1.25,17.051366,NaN
13,1964,255.770493,1,2,21.314208,7.0,1964.0,7_1964,7/1/64,1.25,17.051366,NaN
14,1964,255.770493,1,3,21.314208,8.0,1964.0,8_1964,8/1/64,1.25,17.051366,NaN
15,1964,255.770493,1,4,21.314208,9.0,1964.0,9_1964,9/1/64,1.25,17.051366,NaN
16,1964,255.770493,1,5,21.314208,10.0,1964.0,10_1964,10/1/64,1.25,17.051366,NaN
17,1964,255.770493,1,6,21.314208,11.0,1964.0,11_1964,11/1/64,1.25,17.051366,NaN
18,1964,255.770493,1,7,21.314208,12.0,1964.0,12_1964,12/1/64,1.25,17.051366,NaN
19,1964,255.770493,1,8,21.314208,1.0,1965.0,1_1965,1/1/65,1.25,17.051366,NaN
20,1964,255.770493,1,9,21.314208,2.0,1965.0,2_1965,2/1/65,1.25,17.051366,NaN
21,1964,255.770493,1,10,21.314208,3.0,1965.0,3_1965,3/1/65,1.25,17.051366,NaN
22,1964,255.770493,1,11,21.314208,4.0,1965.0,4_1965,4/1/65,1.25,17.051366,NaN
23,1964,255.770493,1,12,21.314208,5.0,1965.0,5_1965,5/1/65,1.25,17.051366,NaN
24,1965,277.922464,2,1,23.160205,6.0,1965.0,6_1965,6/1/65,1.25,18.528164,NaN
25,1965,277.922464,2,2,23.160205,7.0,1965.0,7_1965,7/1/65,1.25,18.528164,NaN
26,1965,277.922464,2,3,23.160205,8.0,1965.0,8_1965,8/1/65,1.25,18.528164,NaN
27,1965,277.922464,2,4,23.160205,9.0,1965.0,9_1965,9/1/65,1.25,18.528164,NaN
28,1965,277.922464,2,5,23.160205,10.0,1965.0,10_1965,10/1/65,1.25,18.528164,NaN
29,1965,277.922464,2,6,23.160205,11.0,1965.0,11_1965,11/1/65,1.25,18.528164,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
601,2013,8311.861658,50,2,692.655138,7.0,2013.0,7_2013,7/1/13,7.25,95.538640,4123.851495
602,2013,8311.861658,50,3,692.655138,8.0,2013.0,8_2013,8/1/13,7.25,95.538640,4142.187845
603,2013,8311.861658,50,4,692.655138,9.0,2013.0,9_2013,9/1/13,7.25,95.538640,4160.524196
604,2013,8311.861658,50,5,692.655138,10.0,2013.0,10_2013,10/1/13,7.25,95.538640,4178.860546
605,2013,8311.861658,50,6,692.655138,11.0,2013.0,11_2013,11/1/13,7.25,95.538640,4197.196897
606,2013,8311.861658,50,7,692.655138,12.0,2013.0,12_2013,12/1/13,7.25,95.538640,4215.533247
607,2013,8311.861658,50,8,692.655138,1.0,2014.0,1_2014,1/1/14,7.25,95.538640,4233.869598
608,2013,8311.861658,50,9,692.655138,2.0,2014.0,2_2014,2/1/14,7.25,95.538640,4252.205948
609,2013,8311.861658,50,10,692.655138,3.0,2014.0,3_2014,3/1/14,7.25,95.538640,4270.542298
610,2013,8311.861658,50,11,692.655138,4.0,2014.0,4_2014,4/1/14,7.25,95.538640,4288.878649
611,2013,8311.861658,50,12,692.655138,5.0,2014.0,5_2014,5/1/14,7.25,95.538640,4307.214999
612,2014,8543.332523,51,1,711.944377,6.0,2014.0,6_2014,6/1/14,7.25,98.199224,4323.438976
613,2014,8543.332523,51,2,711.944377,7.0,2014.0,7_2014,7/1/14,7.25,98.199224,4339.662952
614,2014,8543.332523,51,3,711.944377,8.0,2014.0,8_2014,8/1/14,7.25,98.199224,4355.886929
615,2014,8543.332523,51,4,711.944377,9.0,2014.0,9_2014,9/1/14,7.25,98.199224,4372.110905
616,2014,8543.332523,51,5,711.944377,10.0,2014.0,10_2014,10/1/14,7.25,98.199224,4388.334882
617,2014,8543.332523,51,6,711.944377,11.0,2014.0,11_2014,11/1/14,7.25,98.199224,4404.558858
618,2014,8543.332523,51,7,711.944377,12.0,2014.0,12_2014,12/1/14,7.25,98.199224,4420.782835
619,2014,8543.332523,51,8,711.944377,1.0,2015.0,1_2015,1/1/15,7.25,98.199224,4437.006811
620,2014,8543.332523,51,9,711.944377,2.0,2015.0,2_2015,2/1/15,7.25,98.199224,4453.230788
621,2014,8543.332523,51,10,711.944377,3.0,2015.0,3_2015,3/1/15,7.25,98.199224,4469.454764
622,2014,8543.332523,51,11,711.944377,4.0,2015.0,4_2015,4/1/15,7.25,98.199224,4485.678741
623,2014,8543.332523,51,12,711.944377,5.0,2015.0,5_2015,5/1/15,7.25,98.199224,4501.902717
624,2015,8777.845830,52,1,731.487152,6.0,2015.0,6_2015,6/1/15,7.25,100.894780,4514.137606
625,2015,8777.845830,52,2,731.487152,7.0,2015.0,7_2015,7/1/15,7.25,100.894780,4526.372495
626,2015,8777.845830,52,3,731.487152,8.0,2015.0,8_2015,8/1/15,7.25,100.894780,4538.607384
627,2015,8777.845830,52,4,731.487152,9.0,2015.0,9_2015,9/1/15,7.25,100.894780,4550.842273
628,2015,8777.845830,52,5,731.487152,10.0,2015.0,10_2015,10/1/15,7.25,100.894780,4563.077162
629,2015,8777.845830,52,6,731.487152,11.0,2015.0,11_2015,11/1/15,7.25,100.894780,4575.312051
630,2015,8777.845830,52,7,731.487152,12.0,2015.0,12_2015,12/1/15,7.25,100.894780,4587.546940

In [10]:
data_months_combined.to_csv("running_monthly.csv")